/*  Main App Stylesheet */


/* SiteWide */
* {
    box-sizing: border-box;
}

:root {
    --c-bg:     #4e5860;
    --c-dark:   #282828;
    --c-white:  #ecf0f1;
    --c-green:  #26ad5e;
    --c-orange: #e77e22;
    --c-dark-a: #3a4147;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--c-bg);
    color: var(--c-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--c-dark-a);
}

input:focus {
    outline: none;
}

/* Top Frame Border */
.app_border_top {
    width: 100%;
    height: 5px;
    background-color: var(--c-dark);
}

/* Main Containers */
.wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    max-width: 900px;
}

/*  Header  */
.app_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.app_input_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.app_input_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    width: 150px;
    height: 30px;
}

.app_header_container input {
    border: none;
    width: 120px;;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#app_btn_input_submit {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--c-green);
    color: var(--c-white);
    font-size: 18px;
    padding-top: 4px;
}

#app_btn_input_submit:hover {
    background-color: var(--c-orange);
    cursor: pointer;
}

#app_btn_input_submit:focus {
    outline: none;
}

/* Navigation */
.app_nav_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.app_nav_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75px;
    min-height: 30px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--c-dark);
    font-weight: 400;
    font-size: 15px;
    color: var(--c-white);
    flex-grow: 1;
}

.app_nav_cell:hover {
    background-color: var(--c-green);
    cursor: pointer;
}

.app_nav_cell:focus {
    outline: none;
}

/* Content Container */

.app_content_container {
    display: flex;
    flex-wrap: wrap;
}

.app_content_cell {
    padding: 5px;
    margin: 5px;
    background-color: var(--c-dark);
    border-radius: 10px;
    flex-grow: 1;
}

.app_content_cell img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}